---
import Layout from "../layouts/Layout.astro";
import ProfileBio from "../components/ProfileBio.astro";
import ProfileSocial from "../components/ProfileSocials.astro";
import Navigation from "../components/Navigation.astro";
import TechStack from "../components/TechStack.astro";
import Experience from "../components/Experience.astro";
import Download from "../assets/icons/download.svg";
import BtnResume from "../components/BtnResume.astro";
---

<Layout>
	<div
		class="fixed bottom-0 left-0 z-40 w-full backdrop-blur-md"
		aria-label="Work in Progress"
		role="presentation"
	>
		<div class="px-4 py-2 text-center">
			<p class="!my-0 text-sm font-medium tracking-wide text-white select-none">
				🚧 Work in Progress
			</p>
		</div>
	</div>
	<div class="lg:flex lg:justify-between lg:gap-4">
		<!-- Columna izquierda-->
		<header
			class="space-y-4 lg:sticky lg:top-0 lg:flex lg:max-h-screen lg:w-[48%] lg:flex-col lg:justify-between lg:py-24"
			aria-label="Profile Header"
			role="banner"
		>
			<div class="space-y-5 md:space-y-10">
				<div class="flex flex-col">
					<ProfileBio />
				</div>

				<Navigation />
			</div>

			<ProfileSocial />
		</header>

		<!-- Columna derecha -->
		<div class="pt-24 lg:h-full lg:w-1/2 lg:py-24 lg:pl-8">
			<main aria-label="Main Content" role="main">
				<div class="space-y-16">
					<section id="about" class="scroll-mt-32">
						<h3 class="mb-4 text-2xl font-bold lg:hidden">ABOUT</h3>
						<p>
							I’m a developer focused on creating intuitive, human-centered solutions
							that blend thoughtful design with solid engineering. With a background
							in <strong>Graphic and Web Design</strong> from <a
								href="https://www.tec.ac.cr/fundatec"
								target="_blank">FUNDATEC</a
							> and currently studying <strong>Computer Engineering</strong> at <a
								href="https://www.ulacit.ac.cr"
								target="_blank">ULACIT</a
							>, I bring both creative and analytical thinking to every project.
						</p>
						<p>
							At <a href="https://www.ufinet.com" target="_blank">UFINET</a>, I
							contribute to software quality tools as an intern while expanding my
							skills as a future Full Stack Developer. I’m driven by curiosity, a
							desire to grow, and a commitment to building tech that positively
							impacts people.
						</p>
						<p>
							Outside of work, you’ll find me at the gym, learning, or creating side
							projects that challenge and inspire me.
						</p>
					</section>

					<section id="projects" class="mt-32 scroll-mt-32 space-y-8">
						<h3 class="mb-4 text-2xl font-bold lg:hidden">PROJECTS</h3>
						<p>...</p>
					</section>

					<section id="experience" class="mt-32 scroll-mt-32 space-y-8">
						<h3 class="mb-10 text-2xl font-bold lg:hidden">EXPERIENCE</h3>
						<ol class="group/list space-y-6">
							<li class="group/item">
								<Experience
									title="Software Engineer Intern"
									company="UFINET"
									description="Developed a program to parse JSX and Katalon Studio Objects for software automation testing component detection."
									yearStart="2025"
									tags={[
										"JavaScript",
										"HTML5",
										"CSS",
										"Node.js",
										"Electron",
										"Babel/Parser",
										"Katalon Studio"
									]}
									url="https://www.ufinet.com"
								/>
							</li>
							<li class="group/item">
								<Experience
									title="Frontend Developer"
									company="Avalantec"
									description="Designed and developed a calendar application for managing events and tasks for a healthcare management system."
									yearStart="2023"
									yearEnd="2024"
									tags={[
										"Angular",
										"JavaScript",
										"TypeScript",
										"Tailwind CSS",
										"Bootstrap",
										"Node.js",
										"Express"
									]}
									url="https://www.avalantec.com"
								/>
							</li>
						</ol>
					</section>

					<section id="techstack" class="mt-32 scroll-mt-32">
						<h3 class="mb-6 text-2xl font-bold text-slate-100 lg:hidden">TECH STACK</h3>
						<TechStack />
					</section>
				</div>
			</main>
			<!-- <footer class="max-w-sm">
			<p>Coded in Visual Studio Code, built with Astro and Tailwind CSS, deployed in Github Pages. All text is set in the Inter typeface.</p>
		</footer> -->
		</div>
	</div>
</Layout>
