---
import Layout from "../layouts/Layout.astro";
import ProfileBio from "../components/ProfileBio.astro";
import ProfileSocial from "../components/ProfileSocials.astro";
import Navigation from "../components/Navigation.astro";
import TechStack from "../components/TechStack.astro";
---
<Layout>
	<div class="fixed bottom-0 left-0 w-full z-50 backdrop-blur-md">
		<div class="px-4 py-2 text-center">
			<p class="text-sm !my-0 font-medium text-white tracking-wide">
				🚧 Work in Progress
			</p>
		</div>
	</div>
	<div class="lg:flex lg:justify-between lg:gap-4">
		<!-- Columna izquierda-->
		<header
			class="lg:sticky lg:top-0 lg:flex lg:max-h-screen lg:w-[48%] lg:flex-col lg:justify-between lg:py-24 space-y-4"
		>
			<div class="space-y-10">
				<div class="flex flex-col sm:space-y-3">
					<ProfileBio />
				</div>
					<Navigation />
			</div>
			<footer>
				<ProfileSocial />
			</footer>
		</header>

		<!-- Columna derecha -->
		<main class="lg:py-24 pt-24 lg:w-1/2 lg:h-full lg:pl-8">
			<div class="space-y-16">
				<section id="about">
					<h3 class="text-2xl font-bold mb-4 lg:hidden">ABOUT</h3>
					<p>
						I’m a developer focused on creating intuitive, human-centered
						solutions that blend thoughtful design with solid engineering. With
						a background in <strong>Graphic and Web Design</strong> from <a
							href="https://www.tec.ac.cr/fundatec"
							target="_blank">FUNDATEC</a
						> and currently studying <strong>Computer Engineering</strong> at <a
							href="https://www.ulacit.ac.cr"
							target="_blank">Ulacit</a
						>, I bring both creative and analytical thinking to every project.
					</p>
					<p>
						At <a href="https://www.ufinet.com" target="_blank">Ufinet</a>, I
						contribute to software quality tools as an intern while expanding my
						skills as a future Full Stack Developer. I’m driven by curiosity, a
						desire to grow, and a commitment to building tech that positively
						impacts people.
					</p>
					<p>
						Outside of work, you’ll find me at the gym, learning, or creating
						side projects that challenge and inspire me.
					</p>
				</section>

				<section id="experience">
					<h3 class="text-2xl font-bold mb-4 lg:hidden">EXPERIENCE</h3>
					<p>...</p>
				</section>

				<section id="projects">
					<h3 class="text-2xl font-bold mb-4 lg:hidden">PROJECTS</h3>
					<p>...</p>
				</section>

				<section id="tech-stack">
					<h3 class="text-2xl font-bold mb-6 text-slate-100 lg:hidden">TECH STACK</h3>
					<TechStack />
				</section>
			</div>
			
		</main>
	</div>
</Layout>
