---
import Layout from "../layouts/Layout.astro";
import ProfileBio from "../components/ProfileBio.astro";
import ProfileSocial from "../components/ProfileSocials.astro";
import Navigation from "../components/Navigation.astro";
import TechStack from "../components/TechStack.astro";
---

<Layout>
	<div class="lg:flex lg:justify-between lg:gap-4">
		<!-- Columna izquierda-->
		<header
			class="lg:sticky lg:top-0 lg:flex lg:max-h-screen lg:w-[48%] lg:flex-col lg:justify-between lg:py-24"
		>
			<div class="flex flex-col gap-5">
				<ProfileBio />
				<Navigation />
			</div>

			<footer>
				<ProfileSocial />
			</footer>
		</header>

		<!-- Columna derecha -->
		<main class="lg:py-24 lg:w-1/2 lg:h-full lg:pl-8">
			<div class="space-y-16">
				<section id="about">
					<p>
						I’m a developer focused on creating intuitive, human-centered
						solutions that blend thoughtful design with solid engineering. With
						a background in <strong>Graphic and Web Design</strong> from <a
							href="https://www.tec.ac.cr/fundatec"
							target="_blank">FUNDATEC</a
						> and currently studying <strong>Computer Engineering</strong> at <a
							href="https://www.ulacit.ac.cr"
							target="_blank">Ulacit</a
						>, I bring both creative and analytical thinking to every project.
					</p>
					<p>
						At <a href="https://www.ufinet.com" target="_blank">Ufinet</a>, I
						contribute to software quality tools as an intern while expanding my
						skills as a future Full Stack Developer. I’m driven by curiosity, a
						desire to grow, and a commitment to building tech that positively
						impacts people.
					</p>
					<p>
						Outside of work, you’ll find me at the gym, learning, or creating
						side projects that challenge and inspire me.
					</p>
				</section>

				<section id="experience">
					<h2 class="text-2xl font-bold mb-4">Experience</h2>
					<p>...</p>
				</section>

				<section id="projects">
					<h2 class="text-2xl font-bold mb-4">Projects</h2>
					<p>...</p>
				</section>

				<section id="tech-stack">
					<TechStack />
				</section>
			</div>
			
		</main>
	</div>
</Layout>
