<a
	href="/cvenglish.pdf"
	rel="noopener noreferrer"
	target="_blank"
	class="hover group flex flex-row items-center rounded-xl px-3 transition-all duration-200 hover:text-amber-400 sm:py-3"
>
	<span class="text-md my-0 duration-200 group-hover:text-amber-400">Résumé</span>
	<svg
		xmlns="http://www.w3.org/2000/svg"
		width="24"
		height="24"
		viewBox="0 0 24 24"
		class="ml-1 h-4 w-4 transition-all group-hover:translate-x-0.5 group-hover:-translate-y-0.5"
		fill="currentColor"
		viewBox="0 0 20 20"
	>
		<path
			fill="currentColor"
			d="M9 15H8v-1H7v-1h1v-1h1v-1h1v-1h1V9H8V7h7v7h-2v-3h-1v1h-1v1h-1v1H9m9 6H4v-1H3v-1H2V4h1V3h1V2h14v1h1v1h1v14h-1v1h-1m-1-1v-1h1V5h-1V4H5v1H4v12h1v1Z"
		></path>
	</svg>
</a>
