---
import Github from "../assets/icons/github.svg";
import Linkedin from "../assets/icons/linkedin.svg";
import Instagram from "../assets/icons/instagram.svg";
import CV from "../assets/icons/cv.svg";
---

<div class="flex align-middle justify-start gap-5 pt-2">
	<a href="https://github.com/garze05" target="_blank"
		><Github aria-label="Github" class="w-6 h-6" /></a
	>
	<a href="https://www.linkedin.com/in/gabrielrodriguezovares" target="_blank"
		><Linkedin aria-label="Linkedin" class="w-6 h-6" /></a
	>
	<a href="https://www.instagram.com/gab.ro10" target="_blank"
		><Instagram aria-label="Instagram" class="w-6 h-6" /></a
	>
	<a href="/cvspanish.pdf" target="_blank"
		><CV aria-label="Curriculum Vitae" class="w-6 h-6" /></a
	>
</div>
