<article class="flex flex-col lg:flex-row lg:items-center lg:gap-3">
	<h1 class="font-bold text-[1.7rem] sm:text-[2.5rem]">Gabriel Rodríguez</h1>
	<p class="text-sm sm:text-base lg:text-lg">@garze05</p>
</article>
<h2 class="text-[1rem] sm:text-[1.3rem]">Full-Stack Engineer</h2>
<p class="font-light text-[0.9rem] max-w-xs">
	Creando soluciones que generan impacto <strong>positivo</strong> en las personas.
</p>
