<article class="flex flex-col lg:flex-row lg:items-center lg:gap-3">
	<div>
		<h1 class="font-bold text-[1.7rem] sm:text-[2.5rem]">Gabriel Rodríguez</h1>
		<h2 class="text-[0.9rem] sm:text-[1.2rem]">Computer Engineer | Web Designer</h2>
	</div>
	<p class="sm:text-base lg:text-md pb-3">@garze05</p>
</article>
<p class="font-light text-[1rem] max-w-xs">
	Creating solutions that make a positive impact on people.
</p>

<style>
	p {
		margin: 0;
	}
</style>