---
import Github from "../assets/icons/github.svg";
import Linkedin from "../assets/icons/linkedin.svg";
import Instagram from "../assets/icons/instagram.svg";
import Email from "../assets/icons/email.svg";
import Download from "../assets/icons/download.svg";
// import CV from "../assets/icons/cv.svg";
---

<div class="flex align-middle justify-start gap-5 pt-2">
	<a href="https://github.com/garze05" target="_blank"
		><Github aria-label="Github" class="w-5 h-5 sm:w-6 sm:h-6 fill-current" /></a
	>
	<a href="https://www.linkedin.com/in/gabrielrodriguezovares" target="_blank"
		><Linkedin aria-label="Linkedin" class="w-5 h-5 sm:w-6 sm:h-6 fill-current" /></a
	>
	<a href="https://www.instagram.com/gab.ro10" target="_blank"
		><Instagram aria-label="Instagram" class="w-5 h-5 sm:w-6 sm:h-6 fill-current" /></a
	>
	<a href="mailto:grodriguezov@gmail.com" target="_blank"
		><Email aria-label="Email" class="w-5 h-5 sm:w-6 sm:h-6 fill-current" /></a
	>
	<a href="/cvenglish.pdf" target="_blank" class="flex items-center gap-1"
		>Resume<Download aria-label="Download" class="w-5 h-5 sm:w-6 sm:h-6 fill-current" /></a
	>
</div>
