---
import Github from "../assets/icons/github.svg";
import Linkedin from "../assets/icons/linkedin.svg";
import Instagram from "../assets/icons/instagram.svg";
import Email from "../assets/icons/email.svg";
import Download from "../assets/icons/download.svg";
// import CV from "../assets/icons/cv.svg";
---

<div class="flex items-center justify-start gap-1 pt-2 ml-[-10px]">
	<a href="https://github.com/garze05" target="_blank" rel="noopener noreferrer" class="p-3"
		><Github aria-label="Github" class="w-6 h-6 fill-current" /></a
	>
	<a href="https://www.linkedin.com/in/gabrielrodriguezovares" target="_blank" rel="noopener noreferrer" class="p-3"
		><Linkedin aria-label="Linkedin" class="w-6 h-6 fill-current" /></a
	>
	<a href="https://www.instagram.com/gab.ro10" target="_blank" rel="noopener noreferrer" class="p-3"
		><Instagram aria-label="Instagram" class="w-6 h-6 fill-current" /></a
	>
	<a href="mailto:grodriguezov@gmail.com" target="_blank" rel="noopener noreferrer" class="p-3"
		><Email aria-label="Email" class="w-6 h-6 fill-current" /></a
	>
	<!-- <a href="/cvenglish.pdf" rel="noopener noreferrer" target="_blank" class="group border border-slate-500 rounded-2xl px-3 py-2 text-xs text-slate-200 hover:border-amber-400 transition-all duration-200 cursor-pointer flex flex-row items-center gap-1 group-hover:text-amber-400 group-focus-visible:text-amber-400"
		>
		<Download aria-label="Download" class="w-5 h-5 sm:w-6 sm:h-6 fill-current" />
		<span class="">Download CV</span>
	</a> -->
</div>