---
import "../styles/global.css";
import { SEO } from "astro-seo";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<SEO
			title="Gabriel Rodríguez"
			description="Gabriel Rodríguez is a computer engineer and web designer focused on creating intuitive, human-centered solutions that have a positive impact on people."
			openGraph={{
				basic: {
					title: "Gabriel Rodríguez Portfolio",
					type: "website",
					image: "/og.png"
				}
			}}
		/>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Gabriel Rodríguez</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body
		class="mx-auto min-h-screen max-w-screen-xl bg-gradient-to-r from-slate-900 to-slate-700 px-6 py-12 text-slate-200 md:px-12 md:py-16 lg:py-0"
	>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		width: 100%;
		height: 100%;
	}
</style>
